<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Project Manager</a>
    </div>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/projects">Add Project</a></li>
      <li routerLinkActive="active"><a routerLink="/addTasks">Add Task</a></li>
      <li routerLinkActive="active"><a routerLink="/users">Add User</a></li>
      <li routerLinkActive="active"><a routerLink="/viewTasks">View Task</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>